.idea
__pycache__
venv
data
.DS_Store
#static
API/ml/ml_models/model_data
.tox
.coverage
tmp
API/.aws

*.egg-info
Client/Responder/.tox
Client/Responder/venv
Client/Listener/.tox
Client/Listener/venv
logs