pydantic==2.6.2
huggingface-hub==0.21.1
sentence-transformers==2.6.1
accelerate
getmac==0.9.4
requests
python-dotenv
sqlalchemy
neo4j
opencv-python
librosa
deepface==0.0.86
tf-keras
python-dotenv
openai
whisper
numpy==1.26.4
boto3